[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
ipython = "*"
isort = "*"
jupyterlab = "*"
loguru = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
python-dotenv = "*"
scikit-learn = "*"
tqdm = "*"
typer = "*"
"nlpinitiative" ={editable = true, path = "."}
tokenizers = "*"
datasets = "*"
jupyter = "*"
torch = "*"
transformers = {extras = ["torch"], version = "*"}
huggingface-hub = "*"
joblib = "*"
mkdocstrings-python = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.12"
